.breadcrumb {
	background-color: transparent;
	padding-left: 0px;
	margin-bottom: 0;
	>li+li:before {
		content: ">";
		color: $bread_crumbs_color;
		padding: 0 5px;
	}
	a {
		font-size: 14px;
		line-height: 25px;
		color: $bread_crumbs_color;
		font-weight: 400;
		font-family: $primary-font-regular;
		text-transform: uppercase;
	}
}