.post,.items-posts {
    .info_cat {
        font-size: 15px;
    }
    .post_title {
        a {
            font-size: 20px;
        }
    }
    .post_date {
        font-size: 10px;
    }
}
.bloc_rubrique {
    .default-title {
        font-size: 30px;
    }
}
.bloc_rubrique {
    .default-title {
        font-size: 30px;
    }
}